#div1{
background-color: aqua;
height: 200px;
width: 200px;
}
#div2{
background-color: rgba(0, 255, 26, 0.663);
height: 200px;
width: 200px;
}
#div3{
background-color: rgb(255, 0, 221);
height: 200px;
width: 200px;
}
#div4{
background-color: rgb(234, 255, 0);
height: 200px;
width: 200px;
}